{% if page.comments %}
<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
this.page.url = "https://ikcprog.github.io{{ page.url }}"; 
this.page.identifier = "{{ page.id }}";
};
(function() { 
var d = document, s = d.createElement('script');
 
s.src = 'https://ikcprog-github-io.disqus.com/embed.js';
 
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Включите JavaScript для просмотра комментариев от
<a href="https://disqus.com/?ref_noscript" rel="nofollow">Disqus</a>.</noscript>
{% endif %}
