---
layout: default
---

<div class="home">

  <strong> Что это такое? </strong>
  <p> Это сайт школы олимпиадного программирования Инновационного культурного центра в городе Первоуральск. Здесь собран весь теоретический материал, а также ссылки на полезные ресурсы</p>
  <p> Подробнее - <a href="https://ikc66.ru/library/школа-олимпиадного-программирования/">здесь</a></p>
  <h1 class="page-heading">Публикации</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        
      </li>
    {% endfor %}
  </ul>
  <iframe width="880" height="495" src="https://www.youtube.com/embed/VGcKWSqrjgE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 <h2> Зашел на сайт, и не принял участия в опросе? Осуждаю! </h2>
<script type="text/javascript" src="https://host1.easypolls.net/ext/scripts/emPoll.js?p=5ded1e01e4b068952e514967"></script><a class="OPP-powered-by" href="https://www.easypolls.net/" style="text-decoration:none;"><div style="font: 9px arial; color: gray;">free polls</div></a>
<noscript>JavaScript is disabled!</noscript>
  <h2> Есть какие - либо предложения или пожелания? Пиши на электронную почту! </h2>
</div>


