---
layout: default
---

<div class="home">

  <strong> Что это такое? </strong>
  <p> Это сайт школы олимпиадного программирования Инновационного культурного центра в городе Первоуральск. Здесь собран весь теоретический материал, а также ссылки на полезные ресурсы</p>
  <p> Подробнее - <a href="https://ikc66.ru/shkola-olimpiadnogo-programmirovaniya">здесь</a></p>
  <h1 class="page-heading">Публикации</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        
      </li>
    {% endfor %}
  </ul>

<script type="text/javascript" src="https://host1.easypolls.net/ext/scripts/emPoll.js?p=5debe5d1e4b068952e514669"></script><a class="OPP-powered-by" href="http://www.objectplanet.com/opinio/" style="text-decoration:none;"><div style="font: 9px arial; color: gray;">surveys</div></a>
  
</div>


